
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="failed.component.css">
</head>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Login fallido</h3>
            </div>
            <img class="card-img-top img" src="../../../assets/img/dnied.png" alt="Card image cap">
			<div class="card-footer">
				<div class="d-flex justify-content-center">
					<a [routerLink]="['login']">Regresar</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
